.searchButton{
    -fx-background-color: #4153AF;
}
.searchButton:hover{
    -fx-background-color: #757FE1;
    -fx-cursor: hand;
}
.searchButton:pressed{
    -fx-background-color: #082C7F;
    -fx-cursor: hand;
}
.homeButton:hover{
    -fx-cursor: hand;
}
.homeButton:pressed{
    -fx-cursor: hand;
}
.label{
    -fx-font-family: 'Montserrat Medium';
}