.searchButton{
    -fx-background-color: #0E71EB;
}
.searchButton:hover{
    -fx-background-color: #2681F2;
    -fx-cursor: hand;
}
.searchButton:pressed{
    -fx-background-color: #0C63CE;
    -fx-cursor: hand;
}
.homeButton:hover{
    -fx-cursor: hand;
}
.homeButton:pressed{
    -fx-cursor: hand;
}
.table-view{
    -fx-background-color: #ebe8f9;
    -fx-background-radius: 30;
}
.table-view .column-header-background{
    -fx-background-color: #ebe8f9;
    -fx-background-radius: 30;
}
.label{
    -fx-font-family: 'Montserrat Medium';
}