.searchButton{
    -fx-background-color: #4153AF;
}
.searchButton:hover{
    -fx-background-color: #757FE1;
    -fx-cursor: hand;
}
.searchButton:pressed{
    -fx-background-color: #082C7F;
    -fx-cursor: hand;
}
.homeButton:hover{
    -fx-cursor: hand;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
}
.homeButton:pressed{
    -fx-cursor: hand;
}
.label{
    -fx-font-family: 'Montserrat Medium';
}

.createButtons{
    -fx-background-color: #082C7F;
}
.createButtons:hover{
    -fx-background-color: #5A72A9;
    -fx-cursor: hand;
}
.createButtons:pressed{
    -fx-background-color: #051D54;
}
.clearSearchButton{
    -fx-background-color: #ACAFC2;
}
.clearSearchButton:hover{
    -fx-background-color: #C7C9D6;
    -fx-cursor: hand;
}
.clearSearchButton:pressed{
    -fx-background-color: #797E98;
    -fx-cursor: hand;
}
.labelNoFontFamily{
    -fx-font-family: System;
}